<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Viewing Post</title>
</head>
<body>
<h1 th:text="${post.title}"></h1>
<p th:text="${post.body}"></p>
<a th:href="'mailto:'+${post.user.email}"><span th:text="${post.user.email}"></span></a>
<br>
<div sec:authorize="isAuthenticated()"></div>

<div th:if="${userName == post.user.username}">
    <a th:href="@{|/posts/${post.id}/edit|}"><button>Edit Post</button></button></a>
</div>
</div>
</body>
</html>