<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>


<h2>You guessed <span th:text="${guess}"></span>.</h2>
<!--<script>console.log(<th:block th:text="${dice}"/>);</script>-->

<div th:if="${guess} == ${dice}">
    <h1 >You guessed it right! Hooray!!</h1>
    <a href="/roll-dice">Want to play again?</a>
</div>
<div th:if="${guess} != ${dice}">
    <h2 >Sorry, you guessed wrong</h2>
    <h2>Guess what we just rolled:</h2>

    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>
</div>

</body>
</html>